/* Configuracao Geral */
html {
    font-size: 100%;
}
:root {
    --blueblackalpha658: #20404bea;
}
.flex {
    display: flex;
}
.none {
    display: none;
}
.spacing {
    justify-content: space-between;
}
.pointer {
    cursor: pointer;
}
/* * {outline: 1px solid chartreuse} */
/* Fim de Configuracao Geral */



/* Barra de Cabeçalho */
header {
    background-color: var(--blueblackalpha658);
    height: 3.5vw;
}
    /* Logoside */
    #logoside {
        width:14vw;
        margin-left: 1.3rem;
    }
    #brasao {
        width: 2.5vw;
    }
    #bigorion {
        width: 10vw;
        margin-top: .2rem;
        filter: brightness(130%);
    }
    /* Fim da Logoside */
    /* Menuside */
        /* Botão de Apoio */
        button {
            background: yellow;
            border: transparent;
        }
            /* Animação de Botão de Apoio */
            .btn_pulso {
                box-shadow: 0 0 0 1.3ch transparent;
                animation: pulse 1s infinite;
            }
            @keyframes pulse {
                from {
                    box-shadow: 0 0 0 0 yellow;
                }
            }
            /*Fim de Animação de Botão de Apoio */
        #apoio {
            font-size: 2vw;
            padding: 0 1.8rem;
            transition: .3s;
            color: var(--blueblackalpha658);
        }
        button:hover #apoio{
            color: #ff008c;
            filter: brightness(150%);
        }
        /* Fim de Botão de Apoio */
        /* Botão de Idioma */
        ul {
            margin-right: 1rem;
        }
        #mapa {
            font-size: 2.2vw;
            transition: .3s;
            color: white;
            line-height: 3.5vw;
            margin-right: .7rem;
            margin-left: 1.5rem;
        }
            /* Animação de Botão de Idioma*/
            .loope {
                animation: loop 1s infinite;
            }
            @keyframes loop {
                0% {
                    line-height: 3.5vw;
                }
                50% {
                    line-height: 3.7vw;
                }
                0% {
                    line-height: 3.5vw;
                }
            }
            /* Fim de Animação de Botão de Idioma*/
        .bandeira {
            border-bottom: 4px solid var(--color);
            width: 2vw;
            padding: 0 .7rem;
            filter: brightness(105%);
        }
        /* Fim de Botão de Idioma */
        /* Botão de Modos de Claridade */
        #sun {
            color: white;
            size: 5pt;
        }
        /* Fim de Cores do Modo Escuro */
        #modos {
            align-items: center;
        }
        #botao_modos {
            border: .2vw solid rgba(0, 255, 255, 0.75);
            border-radius: 15px;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 255, 255, 0.5);
            width: 2vw;
            height: 1vw;
        }
        #fundo_moon {
            display: flex;
            color: #20404bea;
            filter: brightness(130%);
            background-color: aqua;
            padding: .3vw;
            border-radius: 50%;
            width: 1.3vw;
            height: 1.3vw;
            font-size: 1.3vw;
            justify-content: center;
            align-items: center;
            transform: translateX(-10px) rotate(240deg);
            transition: 0.5s;
        }
        #moon {
            display: block;
        }
        /* Fim de Botão de Modos de Claridade */
    /* Fim de MenuSide */
/* Fim de Barra do Cabeçalho */



/* Seção Principal do Site */
body {
    overflow: hidden;
}
section {
    width: 100vw;
    height: 100vh;
    background-image: url(../img/fundo.svg);
    background-size: cover;
    overflow: hidden;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .1ch;
    word-spacing: .2ch;
    text-transform: uppercase;
    font-size: 2.5rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: rgba(0, 0, 0, 0.74);
    filter: brightness(120%);
    position: absolute;
    top: 70%;
    left: 10%;
    opacity: 0;
}
.slide {
    animation: slide 1.3s ease-out;
    top: 55%;
    opacity: 1;
}
@keyframes slide {
    0% {
        top:70%; 
        opacity: 0;
    }
    70% {
        top:50%;
    }
    100% {
        top:55%;
        opacity: 1;
    }
}
a {
    text-transform: uppercase;
    text-decoration: none;
}
#btn1 {
    width: 30vw;
    height: 14vh;
    background-color: aqua;
    transform: skew(10grad, 2grad);
    transition: opacity 0.5s;
    position: absolute;
    top: 65%;
    left: 11%;
    opacity: 0;
    transition: 0.5s;
}
.slide2 {
    animation: slide2 1.3s ease-out;
    opacity: 1;
}
@keyframes slide2 {
    0% {
        top:80%;
    }
    70% {
        top:60%;
    }
    100% {
        top:65%;
        opacity: 1;
    }
}
#btn1:hover {
    transform: skew(10grad, -1grad);
    transition: 0.5s;
    background-color: rgba(0, 0, 0, 0.897);
}
#btn1:hover a p {
    color: white;
}
#btn1 a p {
    color: rgba(0, 0, 0, 0.808);
    font-weight: bolder;
    text-align: center;
    line-height: 14vh;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 0 1em aqua;
}
#btn2 {
    width: 28ch;
    height: 7vh;
    background-color: #c34f8e;
    transform: skew(-10grad, -3grad);
    box-shadow: 0 0 1em #c34f8e;
    font-family: Arial, Helvetica, sans-serif;
    filter: brightness(120%);
    position: absolute;
    top: 77%;
    left: 27%;
    opacity: 0;
}
.slide3 {
    animation: slide3 1.3s ease-out;
    opacity: 1;
}
.opacidade {
    opacity: 1 !important;
}
@keyframes slide3 {
    0% {
        top: 92%;
    }
    70% {
        top: 72%;
    }
    100% {
        top: 77%;
        opacity: 1;
    }
}
#btn2:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 1em aqua ;
}
#btn2 a p {
    color: rgba(255, 255, 255, 0.74);
    font-weight: bolder;
    text-align: center;
    line-height: 7vh;
}
#btn2:hover a p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
/* Fim de Seção Principal do Site */