* {
  /* outline: 1px solid chartreuse; */
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
  background-color: indigo;
}

#header1 {
  width: 100%;
  height: 50px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}
.container_logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 20px;
  width: 180px;
}
#brasao {
  width: 34px;
}
#bigorion {
  width: 130px;
}
nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 230px;
  background-color: none;
  border-radius: 20px;
  transition: 0.2s ease;
  border: none;
  z-index: 1;
}
nav > img {
  margin-top: 101px;
  width: 30px;
  margin-right: 20px;
  margin-left: 20px;
  cursor: pointer;
}
nav > ul > li > img {
  transform: scale(0.9);
}
nav ul {
  list-style-type: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 9px;
  display: none;
}
nav ul li {
  color: white;
  font-family: monospace;
  margin-left: -40px;
  display: flex;
  justify-content: center;
  height: 30px;
  padding: 0 5px;
  justify-content: center;
  align-items: center;
  
  transition: 0.1s ease;
  cursor: pointer;
}
nav ul li:hover {
  background-color: aqua;
  color: black;
  border-radius: 15px;
  transform: scale(1.05);
}
#vermelho:hover {
  background-color: crimson;
}
#verde:hover {
  background-color: lawngreen;
}
#laranja {
  transform: translateY(-0.2px);
}
#laranja:hover {
  background-color: darkorange;
}
nav ul li p {
  font-size: 10px;
  font-family: "Inconsolata", monospace;
}
.ativa {
  display: block;
}
.caixa {
  background-color: black;
  border: 5px solid cyan;
}
#caixa {
  z-index: 0;
}



section {
  display: flex;
}
#armadura {
  margin-top: 9.8%;
  margin-left: 10%;
  margin-right: 10%;
}
#container_painel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header {
  display: flex;
  align-items: center;
}
#espada {
  width: 700px;
  margin-bottom: 25px;
  margin-top: 20%;
  transform: translateX(-7%);
}
#area_botoes {
  display: flex;
  align-items: center;
  width: 700px;
  height: 130px;
  justify-content: space-around;
}
a {
  text-decoration: none;
  height: 25px;
  color: white;
  font-family: 'Gorditas', cursive;
  padding: 6px 10px;
  font-size: 17px;
}
a p {
  transform: translateY(-13px);
}
.branco {
  color: black;
  background-color: white;
  transform: translateX(25px);
  box-shadow: 0 0 0.3em white;
}
.preto {
  color: aqua;
  background-color: black;
  transform: translateX(-25px);
  box-shadow: 0 0 0.4em aqua;
}
#caixa ul li img {
  display: none;
  width: 30px;
  height: 30px;
}